$mainFont: 'Tajawal', sans-serif;
$mainColor: #009DDF;
$secondColor: #77B850;

$mobile: "(max-width: 575.98px)";
$responsive: "(max-width: 767.98px)";
$tablet: "(max-width: 991.98px)";
$desktop: "(max-width: 1199.98px)";
