$mainFont: 'Tajawal', sans-serif;
$mainColor: #F88B48;
$secondColor: #004497;
$thirdColor: #3B3C3E;
$marginElement: 15px 0;

$mobile: "(max-width: 575.98px)";
$responsive: "(max-width: 767.98px)";
$tablet: "(max-width: 991.98px)";
$desktop: "(max-width: 1199.98px)";
