@import './varibails';
@import './pages';
@import './responsive';

body {
    font-family: $mainFont !important;
    background-color: #F5F5F5;
    line-height: 1.5;
    font-size: 16px ;
    font-weight: 400;
    width: 100%;
    overflow-x: hidden;

}

*{
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
}
h1, h2, h3, h4, h5, h6, button, input, textarea{
  font-family: $mainFont !important;
}
// global Style in pages
.wrapper{
  padding-top: 63px;
}
.section-num{
  color: #fff;
  background-color: $secondColor;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}
.prymary-vertical{
  border-left: 1px solid #3B3C3E;
  height: 60px;
  position: absolute;
  left: 28px;
  top: 35px;
}
.prymary-header{
  color: $secondColor;
  font-weight: bold;
  padding-top: 70px;
  span{
    color: $mainColor;
  }
}
.prymary-btn{
  color: #fff;
  background-color: $mainColor;
  border: none;
  border-radius: 0px ;
  &:focus{
    box-shadow: unset !important;
  }
}
.modal-open{
  // &:focus, &:focus-visible, &:focus-within{
    #__nuxt {
      filter: blur(8px);
    }
  // }
}
@media only screen and (max-width: 575.98px) {
    .prymary-header{
      font-size: 25px;
    }
}
// Start navbar component
.navbar-component{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff !important;
  transition: all .5s ease-in-out;
  box-shadow: 0 1px 5px #33333373;
  .brand{
    transition: all .2s ease-in-out;
    width: 100px;
    img{
      width: 100%;
    }
  }
  .navbar-nav{
  li{
    .nav-link{
      color: $secondColor;
      font-weight: bold;
      margin: 0 5px;
      padding: 5px 7px;
      transition: all .3s ease-in-out;
      border-bottom: 3px solid transparent;
      &:hover, &:active, &:focus{
        color: $secondColor;
        border-bottom: 3px solid $mainColor;
      }
    }
  }
  .btn{
    background-color: $mainColor;
    color: #fff;
    border: none;
    min-width: 100px;
    &:hover, &:active, &:focus{
      box-shadow: none !important;
      background-color: $mainColor;
      color: #fff;
    }
  }
}
.navbar-toggler{
  background-color: $mainColor;
    border: 1px solid $mainColor;
}
}

// Start Footer Component
.footer-container{
  background-color: #F7F7F7;
  padding: 40px 0;
  text-align: center;
  position: relative;
    .logo{
      img{
        max-width: 200px;
        margin: auto;
      }
    }
    .links{
      padding-top: 20px;
      ul{
        display: flex;
        justify-content: center;
        li{
          a{
            margin: 6px;
          cursor: pointer;
          text-decoration: none;
          color: $thirdColor;
          transition: all .3s ease-in-out;
          &:hover{
            color: $mainColor;
          }
          }
        }
      }
    }
    .social{
      padding-top: 20px;
      i{
        margin: 0 5px;
        cursor: pointer;
        color: $secondColor;
        transition: all .3s ease-in-out;
        &:hover, &:active, &:focus{
          color: $mainColor;
        }
      }
    }
    .border{
      background-color: $thirdColor;
      margin: 20px 0;
    }
    .copy{
      color: $secondColor;
    }
}

// start Header Component
.header-component {
  width: 100%;
  position: relative;
  .content {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 50%;
    left: 50%;
    z-index: 90;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #00000096;
    .overlay{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    img {
      max-width: 300px;
    }
    .mouse{
      margin-top: 15px;
      cursor: pointer;
      img{
        width: 50px;
      }
    }
    p{
      color: #fff;
      letter-spacing: 2px;
      font-size: 20px;
      padding-top: 15px;
    }
    .btn{
      color: #fff;
      background-color: $mainColor;
      border: none;
      border-radius: 0px ;
      &:focus{
        box-shadow: unset !important;
      }
    }
    }
      .swiper-container {
        width: 100%;
        height: 400px;
        z-index: auto;
      }

      .swiper-slide {
        height: 400px;
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .swiper-pagination-bullet{
        z-index: 100 !important;
        background: #fff !important;
        opacity: 1 !important;
        margin-right: 30px !important;

      }
      .vertical{
        border-left: .5px solid #fff;
        height: 120px;
        position: absolute;
        right: 43px;
        bottom: 25px;
        z-index: 100;
      }
      .vertical-2{
        border-left: .5px solid #fff;
        height: 120px;
        position: absolute;
        right: 43px;
        top: 25px;
        z-index: 100;
      }
      .swiper-pagination-bullet-active{
        background: $mainColor !important;
      }
      .swiper-container-vertical > .swiper-pagination-bullets{
        z-index: 100;
      }
}
  .header-component img {
    width: 100%;
    height: 100%;
  }
  // start header component responive
  @media only screen and ( max-width: 991px ) {
    .header-component{
    .content {
    p{
      letter-spacing: 1px !important;
      font-size: 19px !important;
    }
    h1{
      font-size: 35px !important;
      letter-spacing: 1px !important;
    }
    }
  }
}
  @media only screen and ( max-width: 567px ) {
    .header-component{
    .content {
    p{
      letter-spacing: 1px !important;
      font-size: 14px !important;
    }
    h1{
      font-size: 30px !important;
      letter-spacing: 1px !important;
    }
    }
  }
}

//start about component
.about-component{
  padding: 80px 0;
  position: relative;
  .slider-component{
    margin-top: 20px;
  }

}
// start service-component
.service-component{
  padding: 80px 0;
  position: relative;
  .card{
    height: 300px;
    padding: 7px;
    cursor: pointer;
    margin: 15px 0;
    transition: all .5s ease-in-out;
    &:hover{
      box-shadow: 6px 5px 20px 0px #3b3c3e59;
    }
    img{
      width: 40px;
    }
    h2{
      font-weight: bold;
      font-size: 20px;
      color: $secondColor;
      margin-top: 15px;
    }
    p{
      color: #666666;
      font-size: 14px;
    }
    a{
      color: $thirdColor;
      text-decoration: none;
      position: absolute;
      bottom: 20px;
      i{
        color: $mainColor;
      }
    }
  }
}
// Start Contact Component
.contact-component{
  position: relative;
  height: 100vh;
  background-image: url('../../assets/images/contact\ BG.png');
  background-repeat: no-repeat;
  background-size: cover;

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding: 80px 0;
    color: #fff;
    .container{
      position: relative;
    }
    .section-num{
      background-color: $mainColor;
    }
    .prymary-vertical{
      border-left: 1px solid #fff;
    }
    .header{
      padding-top: 70px;
    }
    .prymary-header{
      color: #fff;
      padding-top: 0px;
    }
    p{
      margin-bottom: 0;
    }
  }
  .location-section{
    border: 1px solid #fff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    h2{
      color: $mainColor;
      font-weight: bold;
      font-size: 20px;
    }
    .address, .phone, .mail{
      margin: 15px;
    }
    .address>i, .phone>i, .mail>i{
      margin-right: 10px;
      color: $mainColor;
    }
  }
  // Responsive About Component
@media only screen and (max-width: 767.98px) {
  .overlay{
    padding: 40px 0;
  }
  .location-section{
    margin-top: 10px;
    padding: 7px;
    h2{
      font-size: 16px;
    }
    .address, .phone, .mail{
      margin: 7px;
    }
  }
}
@media only screen and (max-width: 575.98px) {
  .overlay{
    padding: 20px 0;
    .prymary-header{
      font-size: 25px;
    }
  }
}
}

// Start mainHeader-component
.mainHeader-component{
  background-color: #004497;
  padding: 25px 0;
  .container{
    padding: 0 55px;
  }
  p{
    color: $mainColor;
    margin-bottom: 0;
  }
  h2{
    font-weight: bold;
    color: #fff;
    span{
      color: $mainColor;
    }
  }
}
@media only screen and (max-width: 575.98px) {
  .mainHeader-component{
    h2{
      font-size: 25px;
    }
  }
}
// Start aboutDesc-component
.aboutDesc-component{
  .header2{
    padding-top: 0 !important;
  }
}

// Start misionAndVision-component
.misionAndVision-component{
  position: relative;
  .img-background{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 63, 128, 0.9);
    width: 100%;
    height: 100%;
    padding: 80px 0;
    color: #fff;
    text-align: center;
    .container{
      position: relative;
    }
    .icon{
      margin-top: 20px;
      background-color: $mainColor;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: auto;
      z-index: 10;
      position: relative;
      img{
        width: 65%;
        margin-top: 15px;
      }
      }
      .content{
        margin-bottom: 20px;
        background-color: #fff;
        padding: 35px 15px 15px 15px;
        border-radius: 15px;
        margin-top: -25px;
        z-index: 9;
        position: relative;
        h2{
          color: $mainColor;
          font-size: 25px;
          font-weight: bold;
        }
        p{
          color: #000;
        }
      }
  }

}
// start responsive misionAndVision-component
@media only screen and (max-width: 991.98px) {
  .misionAndVision-component{
    height: 100vh;
    .img-background{
      img{
        height: 100vh;
        object-fit: cover;
      }
    }
  }
}
@media only screen and (max-width: 575.98px) {
  .misionAndVision-component{
    .overlay{
      padding: 20px 0;
    }
  }
}

// Start goals-component
.goals-component{
  position: relative;
  height: 100vh;
  .img-background{
    width: 100%;
    img{
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    color: #fff;
    .container{
      position: relative;
      .image{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .d-flex{
        .icon{
          background-color: $mainColor;
          border-radius: 50%;
          width: 163px;
          height: 75px;
          padding: 10px;
          img{
            width: 100%;
            height: auto;
          }
        }
        h2{
          font-weight: bold;
          color: $secondColor;
          margin: 0 15px;
        }
        p{
          color: #000;
          margin: 0 15px;
        }
      }
    }
  }
}
// start responsive .goals-component
@media only screen and (max-width: 991.98px) {
  .goals-component{
    .overlay{
      .container{
        .d-flex{
          h2{
            font-size: 25px;
          }
          p{
            font-size: 16px !important;
          }
          .icon{
            height: 48px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767.98px) {
  .goals-component{
    .overlay{
      .container{
        .image{
          text-align: center;
          img{
            width: 70%;
          }
        }
      }
    }
  }
}
// start contactForm-component
.contactForm-component{
  position: relative;
  padding: 80px 0;
  .map{
    width: 100%;
    iframe{
      width: 100% !important;
      height: 300px !important;
    }
  }
  .p-7{
    padding: 50px 0;
    h2{
      padding: 20px 0;
      font-size: 25px;
      font-weight: bold;
    }
    .form-control{
      background-color: #EAEAEA;
    }
    .btn{
      background-color: $mainColor;
      color: #fff;
      border: none;
      min-width: 100px;
    }
    .contactColor{
      color: $secondColor;
      text-decoration: underline;
      padding-bottom:0 ;
    }
    .location-section{
      margin: 0 0 20px 15px;
      p{
        margin-bottom: 0;
      }
      .address>i, .phone>i, .mail>i{
        margin-right: 10px;
        color: $secondColor;
      }
      .address, .phone, .mail{
        margin: 15px;
      }
    }
  }
}
.services-component{
  a{
    text-decoration: none;
  }
  .card{
    margin: 15px 0;
    h2{
      color: $secondColor;
      font-weight: bold;
      margin-top: 15px;
    }
    a{
      transform: translate(-66%, -100%);
    }
  }
}

// Start client-component
.client-component{
  img{
    width: 50px;
  }
  h2{
    color: #707070;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
  }
}
// Start slider-component
.slider-component{
  height: 450px;
  position: relative;
  .border{
    border: 1px solid $mainColor !important;
    width: 350px;
    height: 400px;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper{
    // position: absolute;
    .swiper-container {
      width: 350px;
      height: 400px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev, .swiper-button-next{
      position: absolute;
      top: unset;
      width: 35px;
      bottom: 0px;
      height: 25px;
      margin-top: -22px;
      z-index: 50;
      cursor: pointer;
      background-size: 15px 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $mainColor;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
      background-image: url('../../assets/images/right\ arrow.svg') !important;
      left: 160px;
      right: auto;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
      background-image: url('../../assets/images/left\ arrow.svg') !important;
      left: 120px;
    }
  }
}
// start responsive .goals-component
@media only screen and (max-width: 575.98px) {
  .slider-component{
    height: 400px;
    .border{
      width: 250px;
        height: 350px;
    }
    .swiper{
      .swiper-container {
        width: 250px;
        height: 350px;
      }
    }
  }
}
// Start corprateHeader-component
.corprateHeader-component,
.inboundHeader-component,
.religioosHeader-component,
.medicalTourism-component{
  padding: 60px 0;
}
// Start .main-service
.main-service{
  .overlay{
    padding: 40px 0;
    .content{
      text-align: left;
      margin-top: 10px !important;
      height: 350px;
      overflow: hidden;
      padding: 15px;
      img{
        width: 30px;
      }
      h2{
        color: $secondColor;
        font-size: 19px;
      }
      p{
        font-size: 15px;
        margin-bottom: 0 !important;
      }
    }
  }
}
// start responsive .goals-component
@media only screen and (max-width: 1199.98px) {
  .main-service{
    .img-background{
      height: 100vh;
      img{
        display: none;
      }
    }
    .overlay{
      .content{
        height: 200px;
      }
    }
  }
}
@media only screen and (max-width: 991.98px) {
  .main-service{
    .img-background{
      height: fit-content;
    }
    .overlay{
      .content{
        height: 230px;
      }
    }
  }
}
@media only screen and (max-width: 767.98px) {
  .main-service{
      height: -webkit-fill-available;
    .overlay{
      position: relative;
      .content{
        height: 330px;
      }
    }
  }
}
@media only screen and (max-width: 575.98px) {
  .main-service{
    .overlay{
      .content{
        height: 235px;
      }
    }
  }
}

// start ourService-component
.ourService-component{
  position: relative;
  padding: 80px 0;
  text-align: center;
  .prymary-header{
    width: fit-content;
    border-bottom: 2px solid $mainColor;
    margin: auto;
  }
  .icon{
    position: relative;
    z-index: 2;
    width: 70px;
    height: 70px;
    padding: 20px;
    margin: auto;
    border-radius: 50%;
    margin-top: 20px;
    background-color: $mainColor;
    img{
      width: 90%;
    }
  }
  .content{
    position: relative;
    z-index: 1;
    margin-top: -25px;
    box-shadow: 0px 0px 6px 0px #3b3c3e59;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px 10px 20px 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      box-shadow: 6px 5px 20px 0px #3b3c3e59;
    }
    h2{
      font-size: 20px;
      font-weight: bold;
    }
}
}

.modal-dialog {
  .icon {
    margin: auto;
    img{
      max-width: 50px;
    }
    h3{
      font-size: 20px;
      font-weight: bold;
    }
  }
  .pre-formatted {
    white-space: pre-line;
  }
  .content{
    padding-left: 25px;
    .category{
      h5{
        color: $mainColor;
      }
    }
  }
}

// Start process-component
.process-component{
  .overlay{
    h2{
      color: #fff;
      border-bottom: 2px solid $mainColor;
      width: fit-content;
      margin: auto;
    }
    .process-content{
      padding-top: 60px;
      .wave{
        width: 100%;
        img{
          width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .process-content{
    .wave{
      img{
        width: 100% !important;
      }
    }
  }
}

// start requirements-dialog
  .bg-004497{
      background-color: $secondColor !important;
      border-radius: 25px 25px 0 0;
      margin-bottom: 15px;
      h5{
        color: #fff;
      }
      .modal-title{
        margin: auto;
        text-align: center;
      }
      .close{
        color: #0092D3 !important;
        border-radius: 50%;
        width: 32px;
        background-color: #fff !important;
        height: 32px;
        text-align: center;
        padding: 0 !important;
        margin: 0rem !important;
        line-height: 0;
        opacity: 1;
      }
    }
    .modal-content{
      border-radius: 27px;
      .btn{
        background-color: #F88B48;
        color: #fff;
        border: none;
        min-width: 100px;
      }
    }
